<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript">
    window.setTimeout(function(){

     // Move to a new location or you can do something else
     //window.location.href = "https://www.google.co.in";
      window.history.back();
    }, 3000);
    </script>
    <title></title>
  </head>
  <body>
    <h1>Thank you for subscribing! We'll keep you updated on the campaign.</h1>
    <p> You'll be redirected back to the campaign page in 3 seconds </p>
  </body>
</html>
